.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon-title {
    font-size: 2em;
    padding-right: .5em;
}

.bottom-marger {
    margin-bottom: 25px;
}

.top-marger {
    margin-top: 25px;
}